.hor-center{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.textbox{
    border: 1px solid black;
    max-width: 60%;
    max-height: 80vh;
    height: 80vh;
    margin-bottom: 10px;
}